<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!-- Cambiamos la cadena de conexión para producción -->
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Data Source=SERVIDOR_PRODUCCION;Initial Catalog=MiDB;User Id=usuario;Password=clave;"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)"/>
	</connectionStrings>

	<system.web>
		<!-- Desactivamos debug -->
		<compilation xdt:Transform="SetAttributes" debug="false"/>
		<!-- En producción mostramos página de error genérica -->
		<customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
	</system.web>

</configuration>
