<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!-- Cambiamos la cadena de conexión para debug -->
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Data Source=localhost;Initial Catalog=MiDB;Integrated Security=True"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)"/>
	</connectionStrings>

	<system.web>
		<!-- Activamos debug -->
		<compilation xdt:Transform="SetAttributes" debug="true"/>
		<customErrors mode="Off" xdt:Transform="Replace"/>
	</system.web>

</configuration>
